:root {
    scroll-behavior: smooth;
    --font-size-10:10px;
    --font-size-12:12px;
    --font-size-14:14px;
    --font-size-16:16px;
    --font-size-18:18px;
    --font-size-20:20px;
    --font-size-24:24px;
    --font-size-30:30px;
    --font-size-34:34px;
    --font-size-36:36px;
    --font-size-38:38px;
    --font-size-40:40px;
    --font-size-44:44px;
    --font-size-46:46px;
    --font-size-48:48px;
    --font-size-50:50px;
    --font-size-60:60px;
    --fb-color: #4267b2;
    --gray-color:#dee0e2;
    --muted:#83a0ba;
    --muted-color:#83a0ba;
    --dark-color:#162331;
    --primary:rgba(45, 101, 255, 1);
    --primary-color:rgba(45, 101, 255, 1);
    --primary-light-start:rgba(89, 208, 253, 1);
    --primary-light:rgba(89, 208, 253, 1);
    --primary-trs:rgba(0, 68, 185, 0.08);
    --primary-hover:var(--primary-light);
    --white:rgba(255, 255, 255, 1);
    --white-color:rgba(255, 255, 255, 1);
    --light-gray-color:#f1f6ff;

    --shadow:rgba(0, 0, 0, 0.19);
    --shadow-primary:rgba(45, 101, 255, 0.15);

    --grd-primary:linear-gradient(0deg, var(--primary) 30%, var(--primary-light) 100%);
    --grd-primary-alt:linear-gradient(0deg, var(--primary-light) 0%, var(--primary) 100%);

    --grd-primary-light-tb:linear-gradient(0deg, var(--primary-light) 0%, var(--primary-light-start) 100%);
    --grd-primary-light: linear-gradient(to right, var(--primary-light-start) 0%, var(--primary-light) 100%); 
}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
}

a,a:hover,a:visited,a:active,a:focus
{
    text-decoration: none;
}
.wrapper
{
    overflow: hidden;
}
/********************** graphic design page css start *********************************/


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   background:#ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(229,229,229,0.4);
}

/* Let's get this party started */
::-moz-scrollbar {
    width: 8px;
}

/* Let's get this party started */
::-moz-scrollbar  {
    width: 6px;
}

/* Track */
::-moz-scrollbar-track {
   background:#ddd;
}

/* Handle */
::-moz-scrollbar-thumb {
    background: #222;
}
::-moz-scrollbar-thumb:window-inactive {
    background: rgba(229,229,229,0.4);
}


.bold
{
    font-weight: bold;
}
.fw-300
{
    font-weight: 300;
}
.fw-500
{
    font-weight: 500;
}
.fw-700
{
    font-weight: 700;
}
.fw-900
{
    font-weight: 900;
}
.uppr
{
    text-transform: uppercase;
}


/*-------------------- new css ----------------------*/
.btn
{
    border-radius: 0px;
    align-items: center;
    font-size: 14px;
    display: inline-flex;
    justify-content: space-around;
    padding: 12px 20px;
    line-height: 1;
}
.btn:focus,button:focus
{
    outline: 0;
    box-shadow: none;
}
.btn-rounded
{
  border-radius: 80px !important;
  min-width: 130px !important;
}
.btn
{
  position: relative;
  overflow: hidden;
}
.btn:hover,.btn:focus
{
  text-decoration: none;
  color: #222;
}
.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(45, 58, 75, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.btn-white
{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  background: #fff;
  color: #222;
  border: none;
}

.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section{
  text-align:center;
}

.header-sec
{
  background: var(--grd-primary);
}

.title-logo {
    font-size: 120px;
    font-weight: bold;
    background: var(--primary);
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    margin: auto;
    position: relative;
    letter-spacing: 0px;
    text-shadow: 0px 8px 20px var(--shadow-primary);
    -webkit-text-shadow: 0px 8px 20px var(--shadow-primary);
    -moz-text-shadow: 0px 8px 20px var(--shadow-primary);
    -ms-text-shadow: 0px 8px 20px var(--shadow-primary);
    -o-text-shadow: 0px 8px 20px var(--shadow-primary);
}

.title-logo .pentool
{
  position: absolute;
  left: 163px;
  right: 0;
  top: -106px;
  width: 200px;
  margin: auto;
}
.top-title {
   text-align: left;
    left: 12%;
    top: -40%;
    font-size: 34px !important;
    font-weight: 700;
    position: absolute;
    background: var(--primary-light);
    font-weight: 700;
    color: #fff;
    padding: 20px;
}
.sub-title
{
   font-size: 18px;
    font-weight: 700;
    letter-spacing: 16px;
    background: #fff;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    top: -6px;
    position: relative;
    padding: 10px 20px;
    display: inline-block;
}

.sec-title
{
  font-size: 80px;
  font-weight: bold;
  color: #fff;
}

.content
{
  font-size: 14px;
  color: #fff;
}
.content p
{
  font-size: 16px;
  color: #fff;
}
.left-align{
  text-align: left;
}
.line
{
  width: 80px;
  height: 4px;
  margin: 20px 0;
  background:#fff;
}

.btn i
{
  font-size: 24px;
}

.v-align-center
{
  align-items: center;
}
.img-shadow
{
      border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}

